.hero-image {
  height: 100vh;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.hero-text-line {
  width: 100px;
  height: 3px;
  border: 0;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-color: #34495e;
}

.works-gallery-flex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.works-gallery img {
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.works-gallery p {
  display: none;
}

.about-me {
  margin-top: 2rem;
}

.about-me-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-me-form {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}










